**Creating a Series** 
A Series is a 1-D container, similar to a list.
A series isthe data type that represets each column of the Dataframe.
Each column in a dataframe must be of the same dtype.
A Series is very siilar to a Python list; but, each element must be of the same dtype.

In [2]:
import pandas as pd
s = pd.Series(['banana', 42])
print(s)

0    banana
1        42
dtype: object

In [3]:
# manually assign index values to a series, by passing a Python list
s = pd.Series(['Michael Jordan', 'basketball GOAT'], index=['Person', 'Who'])
print(s)

Person     Michael Jordan
Who       basketball GOAT
dtype: object

**2.2: Creating a Dataframe**
> 
+ a Dataframe can be thought of as a dictioanry of Series objects
+ This is why dictionaries are the most common way of creating a dataframe

In [5]:
scientists = pd.DataFrame({
    'Name': ['Rosaline Franklin', 'William Gosset'],
    'Occuaption': ['Chemist', 'Statistician'],
    'Born': ['1920-07-25', '1876-06-13'],
    'Died': ['1958-04-16', '1937-10-16'],
    'Age': [37, 61]})
print(scientists)

                Name    Occuaption        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

+ notice that order of data presented is not guaranteed; in order to set the order of the columns or rows, would need to set an index order or column order. See below

In [7]:
scientists = pd.DataFrame({
    'Name': ['Rosaline Franklin', 'William Gosset'],
    'Occupation': ['Chemist', 'Statistician'],
    'Born': ['1920-07-25', '1876-06-13'],
    'Died': ['1958-04-16', '1937-10-16'],
    'Age': [37, 61]},
    index=['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation', 'Born', 'Died,' 'Age'])
print(scientists)

                     Occupation        Born Died,Age
Rosaline Franklin       Chemist  1920-07-25      NaN
William Gosset     Statistician  1876-06-13      NaN

**The order is not guaranteed bc Python dictionaries are not ordered.** 
> to get around this, need to use the **OrderedDict** from the collections module
---

# 2.3: The Series

In [14]:
# recreate the data series from prior
scientists = pd.DataFrame({
    'Name': ['Rosaline Franklin', 'William Gosset'],
    'Occupation': ['Chemist', 'Statistician'],
    'Born': ['1920-07-25', '1876-06-13'],
    'Died': ['1958-04-16', '1937-10-16'],
    'Age': [37, 61]},
    index=['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation', 'Born', 'Died', 'Age'])
print(scientists)

                     Occupation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1937-10-16   61

In [16]:
# select a scietist by the row label
first_row = scientists.loc['William Gosset']
print(type(first_row))

<class 'pandas.core.series.Series'>

In [17]:
print(first_row)

Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object

In [18]:
# print index as an attribute
print(first_row.index)

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [19]:
# print values as an attribute
print(first_row.values)

['Statistician' '1876-06-13' '1937-10-16' 61]

In [20]:
# print keys as a Series method
print(first_row.keys())

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

Syntax for **index**, **values**, **keys**
+ Attributes are properties of an object
+ Methods can be thought of as some calculation or operation that is performed

**2.3.1 The series is ndarray-like**

In [21]:
# get the 'Age' column
ages = scientists['Age']
print(ages)

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

In [22]:
print(ages.mean())
print(ages.min())
print(ages.max())
print(ages.std())

49.0
37
61
16.97056274847714

**2.3.2 Boolean Subsetting: Series**
> Chapter 1 showed how to use specific indices to subset data. Only rarely, however, will we ever know the exact row or column index to subset the data; typically, you are looking for values that meet, or don't meet, a particular calculation or observation

In [23]:
scientists = pd.read_csv(r'/Users/BrendanErhard/Desktop/pandas_for_everyone-master/data/scientists.csv')

In [24]:
ages = scientists['Age']
print(ages)

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [25]:
# get basic stats
print(ages.describe())

count     8.000000
mean     59.125000
std      18.325918
min      37.000000
25%      44.000000
50%      58.500000
75%      68.750000
max      90.000000
Name: Age, dtype: float64

In [26]:
# mean of all ages
print(ages.mean())

59.125

In [27]:
# what if we wanted to subset our ages, by identifying those above the mean??
print(ages[ages > ages.mean()])

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [28]:
# for a more nuanced look, we can use this:
print(ages > ages.mean())

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

In [30]:
print(type(ages > ages.mean()))

<class 'pandas.core.series.Series'>

**2.3.3 Operations are Automatically Aligned and Vectorized**
> Many of the methods that work on series, and also dataframes, are **vectorized**, meaning that they work on the entire sector simultaneously
> This meakes the code easier to read with calcualtions faster, and no need for loops

In [31]:
# operations with vectors of the same length
print(ages + ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [32]:
print(ages * ages)

0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64

In [33]:
# vecotors with integers (scalars)
print(ages + 100)

0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64

In [34]:
print(ages * 2)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [35]:
# Broadcasting in Pandas refes to how operations are calculated between arrays of different shapes
print(ages + pd.Series([1, 100]))

0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

**Vectors with Common Index labels - Automatic Alignment**
> things always align with the index label when actions are performed

In [36]:
# ages as they appear in the data
print(ages)

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [38]:
rev_ages = ages.sort_index(ascending=False)
print(rev_ages)

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

# 2.4 The Dataframe

**The dataframe is the most common Pandas object - it can be thought of as Python's way of storing spreadshet data**

In [39]:
# boolean vectors will subset rows
print(scientists[scientists['Age'] > scientists['Age'].mean()])

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

In [41]:
# create a subset of dataframes
first_half = scientists[:4]
second_half = scientists[4:]
print(first_half)

                   Name        Born        Died  Age    Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist
1        William Gosset  1876-06-13  1937-10-16   61  Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist

In [42]:
print(second_half)

            Name        Born        Died  Age          Occupation
4  Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5      John Snow  1813-03-15  1858-06-16   45           Physician
6    Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7   Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [43]:
# multiply by a scalar
print(scientists * 2)

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

# 2.5 Making Changes to Series and Dataframes

In [44]:
# add additional columns
print(scientists['Born'].dtype)

object

In [45]:
print(scientists['Died'].dtype)

object

In [46]:
# format the 'Born' column as a datetime
born_datetime = pd.to_datetime(scientists['Born'], format = '%Y-%m-%d')
print(born_datetime)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]

In [47]:
# format the 'Died' column as a datetime
died_datetime = pd.to_datetime(scientists['Died'], format = '%Y-%m-%d')
print(died_datetime)

0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

In [49]:
# create a new set of columns that contained the datetime representaitons of the object (string) dates
scientists['Born_dt'], scientists['died_dt'] = (born_datetime, died_datetime)
print(scientists.head())

                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist 1907-05-27

     died_dt    Born_dt
0 1958-04-16 1920-07-25
1 1937-10-16 1876-06-13
2 1910-08-13 1820-05-12
3 1934-07-04 1867-11-07
4 1964-04-14 1907-05-27

In [50]:
# directly change a column
print(scientists['Age'])

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [51]:
import random

In [52]:
# set a seed so the randomness is always the same
random.seed(42)
random.shuffle(scientists['Age'])

/Users/BrendanErhard/anaconda3/lib/python3.7/random.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  x[i], x[j] = x[j], x[i]

In [53]:
print(scientists['Age'])

0    66
1    56
2    41
3    77
4    90
5    45
6    37
7    61
Name: Age, dtype: int64

In [54]:
# subracting dates gives the # of days
scientists['age_days_dt'] = (scientists['died_dt'] - scientists['born_dt'])
print(scientists)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   66             Chemist
1        William Gosset  1876-06-13  1937-10-16   56        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   41               Nurse
3           Marie Curie  1867-11-07  1934-07-04   77             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   90           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   37  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   61       Mathematician

     born_dt    died_dt    Born_dt age_days_dt
0 1920-07-25 1958-04-16 1920-07-25  13779 days
1 1876-06-13 1937-10-16 1876-06-13  22404 days
2 1820-05-12 1910-08-13 1820-05-12  32964 days
3 1867-11-07 1934-07-04 1867-11-07  24345 days
4 1907-05-27 1964-04-14 1907-05-27  20777 days
5 1813-03-15 1858-06-16 1813-03-15  16529 days
6 1912-06-23 1954-06-07 1912-06-23  15324 days
7 1777-04-30 1855-02-23 1777-04-30  28422 days

In [55]:
# we can convert the values to just the year, using the 'astype' method
scientists['age_days_dt'] = scientists['age_days_dt'].astype('timedelta64[Y]')
print(scientists)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   66             Chemist
1        William Gosset  1876-06-13  1937-10-16   56        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   41               Nurse
3           Marie Curie  1867-11-07  1934-07-04   77             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   90           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   37  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   61       Mathematician

     born_dt    died_dt    Born_dt  age_days_dt
0 1920-07-25 1958-04-16 1920-07-25         37.0
1 1876-06-13 1937-10-16 1876-06-13         61.0
2 1820-05-12 1910-08-13 1820-05-12         90.0
3 1867-11-07 1934-07-04 1867-11-07         66.0
4 1907-05-27 1964-04-14 1907-05-27         56.0
5 1813-03-15 1858-06-16 1813-03-15         45.0
6 1912-06-23 1954-06-07 1912-06-23         41.0
7 1777-04-30 1855-02-23 1777-04-30         77.0

**2.5.3 Dropping Values**
+ To drop a column, can either select all columns by using the columns subsetting techniques, or select columns to drop, with the drop methon on the dataframe

In [57]:
# all the current columns in the data
print(scientists.columns)

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt',
       'Born_dt', 'age_days_dt'],
      dtype='object')

In [58]:
# drop the shuffled age column
# provide the axis = 1 argument to drop column-wise

scientists_dropped = scientists.drop(['Age'], axis=1)
print(scientists_dropped.columns)

Index(['Name', 'Born', 'Died', 'Occupation', 'born_dt', 'died_dt', 'Born_dt',
       'age_days_dt'],
      dtype='object')

# 2.6 Exporting and Importing Data

**2.6.1 Pickle**
+ Python has a way to pickle data - this is python's way of serializing and saving data in a binary format

In [59]:
names = scientists['Name']
print(names)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object